RewriteEngine On

# Set home.html as the default page instead of index.html
DirectoryIndex home.html

# Remove .html extension from URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)$ $1.html [NC,L]

# Redirect .html to URL without extension
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.html [NC]
RewriteRule ^ %1 [R=301,L]